flows/Create_Case_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Remedy_New_Order</name>
        <label>Email Remedy New Order</label>
        <locationX>1471</locationX>
        <locationY>136</locationY>
        <actionName>Case.UPC_Case_creating_in_Remedy</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Remedy_New_Problem</name>
        <label>Email Remedy New Problem</label>
        <locationX>1467</locationX>
        <locationY>271</locationY>
        <actionName>Case.UPC_Case_creating_in_Remedy</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Remedy_Other</name>
        <label>Email Remedy Other</label>
        <locationX>1465</locationX>
        <locationY>25</locationY>
        <actionName>Case.UPC_Case_creating_in_Remedy</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>desChoiceRaison</name>
        <label>desChoiceRaison</label>
        <locationX>919</locationX>
        <locationY>38</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Results_Test_NewOrder</targetReference>
            </connector>
            <label>New Order</label>
        </rules>
        <rules>
            <name>NewProblem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Results_New_Problem</targetReference>
            </connector>
            <label>New Problem</label>
        </rules>
        <rules>
            <name>Default</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Results_Test_Other</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <description>account, case, 3 choice (with default), contact and creating case at the end, create email alert</description>
    <dynamicChoiceSets>
        <name>resMatchingAccountChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchAccountField</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>resMatchingContactName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchContactField</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>resReasonChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case Flow v1.6</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_New_Order</name>
        <label>Create Case New Order</label>
        <locationX>1293</locationX>
        <locationY>143</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Email_Remedy_New_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>CaseReasonNewOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_New_Problem</name>
        <label>Create Case New Problem</label>
        <locationX>1297</locationX>
        <locationY>282</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Email_Remedy_New_Problem</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>CaseReasonNewProblem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Other</name>
        <label>Create Case Other</label>
        <locationX>1281</locationX>
        <locationY>29</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Email_Remedy_Other</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Case_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Case_Information</name>
        <label>Case Information</label>
        <locationX>742</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>desChoiceRaison</targetReference>
        </connector>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Description</name>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Reason</name>
            <choiceReferences>resReasonChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Matching_Account_Name</name>
        <label>Matching Account Name</label>
        <locationX>287</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Contact</targetReference>
        </connector>
        <fields>
            <name>Choose_Account</name>
            <choiceReferences>resMatchingAccountChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Account</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Matching_Contact_Name</name>
        <label>Matching Contact Name</label>
        <locationX>624</locationX>
        <locationY>30</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Information</targetReference>
        </connector>
        <fields>
            <name>Choose_Contact</name>
            <choiceReferences>resMatchingContactName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Results_Test_NewOrder</name>
        <label>Results Test New Order</label>
        <locationX>1116</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_New_Order</targetReference>
        </connector>
        <fields>
            <name>AccountNameNewOrder</name>
            <fieldText>{!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactNameNewOrder</name>
            <fieldText>{!varContactName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactEmailNewOrder</name>
            <fieldText>{!varContactEmail}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactPhoneNewOrder</name>
            <fieldText>{!varContactPhone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseReasonNewOrder</name>
            <fieldText>{!Case_Reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Results_Test_Other</name>
        <label>Results Test Other</label>
        <locationX>1117</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Other</targetReference>
        </connector>
        <fields>
            <name>AccountNameOther</name>
            <fieldText>{!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactNameOther</name>
            <fieldText>{!varContactName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactEmailOther</name>
            <fieldText>{!varContactEmail}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactEmailPhone</name>
            <fieldText>{!varContactPhone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseReasonOther</name>
            <fieldText>{!Case_Reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Search_Account</name>
        <label>Search Account</label>
        <locationX>155</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Account_Name</targetReference>
        </connector>
        <fields>
            <name>SearchAccountField</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Account to search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Search_Contact</name>
        <label>Search Contact</label>
        <locationX>459</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Contact_Name</targetReference>
        </connector>
        <fields>
            <name>SearchContactField</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Contact to search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Test_Results_New_Problem</name>
        <label>Test Results New Problem</label>
        <locationX>1042</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_New_Problem</targetReference>
        </connector>
        <fields>
            <name>AccountNameNewProblem</name>
            <fieldText>{!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactNameNewProblem</name>
            <fieldText>{!varContactName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactEmailNewProblem</name>
            <fieldText>{!varContactEmail}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactPhoneNewProblem</name>
            <fieldText>{!varContactPhone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseReasonNewProblem</name>
            <fieldText>{!Case_Reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Search_Account</startElementReference>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailAltert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
